<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nineties About Us</title>
    <link rel="stylesheet" href="/style/partials/base.css" />
    <link rel="stylesheet" href="/style/partials/header.css" />
    <link rel="stylesheet" href="/style/partials/footer.css" />
    <link rel="stylesheet" href="/style/products.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="header">
      <a href="/"><img class="header-logo" src="images/Unbenannt-3.png" /></a>
      <div class="header-items">
        <div id="menu-links" class="menu-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="categories">Shop</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="support">Support</a></li>
          </ul>
        </div>
        <div>
          <img class="cart" src="images/Cart.png" />
        </div>
        <div onclick="menutoggle()" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
    </nav>

    <div class="products">
      <div class="row">
        <% products.forEach(product => { %>
        <div class="col-4">
          <a href="/product/<%= product.shortname %>"
            ><img src="<%= product.image %>"
          /></a>
          <h4><%= product.name %></h4>
          <p><%= product.price %></p>
        </div>
        <% }) %>
      </div>
    </div>
    <!---- footer ----->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <img src="images/Unbenannt-3.png" />
            <p>Our Purpose Is To Bring The 90´s Back To Life!</p>
          </div>
          <div class="footer-col-2">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="agb">ToS</a></li>
              <li><a href="support">Support</a></li>
              <li><a href="imprint">Imprint</a></li>
              <li><a href="return">Return Policy</a></li>
            </ul>
          </div>
          <div class="footer-col-3">
            <h3>Follow Us</h3>
            <ul>
              <li>
                <a href="https://www.instagram.com/nineties.tm/">Instagram</a>
              </li>
              <li>
                <a href="https://www.facebook.com/nineties.tm/">Facebook</a>
              </li>
              <li><a href="https://twitter.com/nineties_tm">Twitter</a></li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCYYqMRbQldSCEWYWvu72wdg"
                  >YouTube</a
                >
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2021 - Nineties Clothing</p>
      </div>
    </div>

    <script>
      var menulinks = document.getElementById("menu-links");
      var burger = document.getElementsByClassName("burger")[0];

      function menutoggle() {
        burger.classList.toggle("toggle");
        if (
          menulinks.style.maxHeight == "0vh" ||
          menulinks.style.maxHeight == ""
        ) {
          menulinks.style.maxHeight = "100vh";
        } else {
          menulinks.style.maxHeight = "0vh";
        }
      }
    </script>
  </body>
</html>
